.App {
  text-align: center;
  align-items: center;
  background-color: #A31919;
}

.App-header {
  padding: 1em;
  color: #A31919;
}

.App-title {
  font-size: 2.5em;
  font-family: 'Dosis', sans-serif;
}

.header-gallery-container {
  background-color: #e6d300;
}

.like-count {
  font-family: 'Dosis', sans-serif;
  color: #d32f2f;
}