.App {
  text-align: center;
  align-items: center;
  background-color:rgb(163, 25, 25)
}

.App-header {
  padding: 1em;
  color: rgb(163, 25, 25);
  margin-bottom: 1em;
}

.App-title {
  font-size: 2.5em;
  font-family: 'Dosis', sans-serif;
}

.header-gallery-container {
  background-color: #e6d300;
}

